:root {
    --sidebar-width: 150px;
}

html, body {
    height: 100%;
    margin: 0;
}

.sidebar {
    height: 100%;
}

.sidebar-container {
    max-width: calc(var(--sidebar-width) / 2);
}


@media (min-width: 992px){
    
    .sidebar-container {
        max-width: var(--sidebar-width);
    }

  }