:root {
    --sidebar-width: 150px;
}

input {
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main.d-flex {
    flex-grow: 1;
}

.sidebar {
    width: var(--sidebar-width);
    max-width: calc(var(--sidebar-width) / 2);
}

.sidebar-container , .sidebar {
    height: 100%;
}

.navbar-container {
    background-color: white;
    width: 100%;
}

.bg-nav {
    background-color:#f8f9fa;
}

nav > .container-fluid {
    height: 70px;
    align-items: center;
}


.bg-sidebar {
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.admin {
    margin-top: auto;
    margin-bottom: 10px;
}


@media (min-width: 992px){
    
    .sidebar {
        max-width: var(--sidebar-width);
    }

  }